Source: rsyslog
Section: admin
Priority: extra
Maintainer: Michael Biebl <biebl@debian.org>
Build-Depends: debhelper (>= 5), quilt, autotools-dev, zlib1g-dev, libmysqlclient15-dev, libpq-dev
Standards-Version: 3.7.3
Homepage: http://www.rsyslog.com/

Package: rsyslog
Architecture: any
Conflicts: linux-kernel-log-daemon, system-log-daemon
Replaces: linux-kernel-log-daemon, system-log-daemon
Provides: linux-kernel-log-daemon, system-log-daemon
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6)
Recommends: logrotate
Suggests: rsyslog-mysql | rsyslog-pgsql
Description: enhanced multi-threaded syslogd
 Rsyslog is an enhanced syslogd supporting, amongst others:
  * reliable syslog over TCP and RFC 3195
  * writing to MySQL databases (via a separate output plugin)
  * permitted sender lists
  * filtering on any part of the syslog message
  * on-the-wire message compression
  * fine grained output format control
  * backup log destinations
 .
 It is quite compatible to stock sysklogd and can be used as a drop-in
 replacement. Its advanced features make it suitable for enterprise-class,
 encryption protected syslog relay chains while at the same time being very
 easy to setup for the novice user.

Package: rsyslog-mysql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rsyslog (= ${binary:Version}), dbconfig-common, ucf
Recommends: mysql-server
Description: MySQL output plugin for rsyslog
 This plugin allows rsyslog to write the syslog messages into a MySQL database.

Package: rsyslog-pgsql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rsyslog (= ${binary:Version}), dbconfig-common, ucf
Recommends: postgresql
Description: PostgreSQL output plugin for rsyslog
 This plugin allows rsyslog to write the syslog messages into a PostgresSQL 
 database.
